@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	line-height: 28px;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#main {
	float: left;
	width: 100%;
	position: relative;
	padding: 10px 15px;
}
.top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 50px;
	width: 50px;
	font-size: 32px;
	color: #f51a1a;
	line-height: 50px;
	border: 1px solid #f51a1a;
	background-color: #ffb218;
	border-radius: 12px;
	text-align: center;
	cursor: pointer;
	display: block;
	text-decoration: none;
	transition: all ease-in-out 0.3s;
}

.top:hover {
	background-color: #db9200;
	color: #fff;
}
.navbar {
	width: 100%;
	padding: 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 10px;
}

.navbar .logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.navbar .logo img {
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 0 8px 3px #f51a1a;
	transition: all ease-in-out 0.2s;
}

.navbar .logo .text-logo {
	font-size: 24px;
	font-weight: 600;
	color: #000;
	line-height: 28px;
	margin-left: 15px;
	transition: all ease-in-out 0.2s;
}

.navbar .logo:hover img {
	box-shadow: 0 0 8px 3px #ffb218;
}

.navbar .logo:hover .text-logo {
	color: #ffb218;
}

.navbar .nav-links {
	width: 35%;
}

.navbar .nav-links .main-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .nav-links .main-menu li {
	list-style: none;
	border-bottom: 1px solid transparent;
	transition: all ease-in-out 0.2s;
}

.navbar .nav-links .main-menu li:hover,
.navbar .nav-links .main-menu li.active {
	border-bottom: 1px solid #f51a1a;
}

.navbar .nav-links .main-menu li a {
	font-size: 18px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	transition: all ease-in-out 0.2s;
}

.navbar .nav-links .main-menu li:hover a,
.navbar .nav-links .main-menu li.active a {
	color: #f51a1a;
}

.navbar .cv-btn {
	padding: 13px 27px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	line-height: 28px;
	background-color: #f51a1a;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

.navbar .cv-btn:hover {
	background-color: #b41414;
}

.hero-section {
	padding: 75px 0;
	width: 100%;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.hero-section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-section .left {
	width: 60%;
}

.hero-section .left h1 {
	font-size: 45px;
	color: #000;
	font-weight: 500;
	line-height: 60px;
	margin-bottom: 30px;
}

.hero-section .left h1 .red-text {
	color: #f51a1a;
	font-weight: 600;
}

.hero-section .cv-btn {
	padding: 16px 50px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	line-height: 28px;
	background-color: #f51a1a;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

.hero-section .cv-btn:hover {
	background-color: #b41414;
}

.hero-section .right {
	width: auto;
	border-radius: 40px;
	overflow: hidden;
}

.hero-section .right img {
	width: 100%;
	height: 100%;
	display: block;
}

.about-section {
	width: 100%;
	padding: 30px 0;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.about-section h2 {
	margin-bottom: 30px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.about-section .container {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

.about-section .left {
	width: 50%;
}

.about-section .left h4 {
	margin-bottom: 15px;
	font-size: 18px;
	color: #000;
	font-weight: 600;
	line-height: 28px;
}

.about-section .left p {
	font-size: 18px;
	color: #353535;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 15px;
}

.about-section .left .info {
	display: flex;
	align-items: center;
	gap: 30px;
}

.about-section .left .info .circle {
	width: 120px;
	height: 120px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 0 10px 5px rgba(255, 179, 26, 0.6);
	transition: all ease-in-out 0.2s;
}

.about-section .left .info .circle:hover {
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0 0 10px 5px rgba(255, 179, 26, 0.9);
}

.about-section .left .info .circle h5 {
	font-size: 16px;
	color: #f51a1a;
	font-weight: 700;
	line-height: 26px;
}

.about-section .left .info .circle p {
	font-size: 16px;
	color: #969090;
	font-weight: 600;
	line-height: 26px;
}

.skills-section {
	padding: 20px 0;
	width: 100%;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.skills-section h2 {
	margin-bottom: 30px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.skills-section .skill-container {
	/* border: 1px solid #F51A1A; */
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skills-section .skill-container .skill {
	display: flex;
	align-items: center;
	border: 2px solid #ffb218;
	padding: 0 0 0 20px;
	margin-bottom: 30px;
	width: 450px;
	height: 120px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.skills-section .skill-container .skill .icon {
	margin-right: 20px;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.skills-section .skill-container .skill .icon img {
	width: 100%;
	height: 100%;
	/* filter: invert() */
	filter: invert(19%) sepia(76%) saturate(5025%) hue-rotate(353deg)
		brightness(94%) contrast(109%);
}

.skills-section .skill-container .skill .right-info {
	width: 70%;
}

.skills-section .skill-container .skill .right-info h5 {
	font-size: 26px;
	color: #ffb218;
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.skills-section .skill-container .skill .right-info .progress-bar {
	width: 100%;
	border-radius: 25px;
	position: relative;
	box-shadow: inset 0 0 5px 3px #f87e7e;
}

.skills-section .skill-container .skill .right-info .progress-bar .percentage {
	display: block;
	width: var(--i);
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 20px;
	background-color: #f51a1a;
	border-radius: 25px;
	text-align: center;
}

.qulification-sec {
	width: 100%;
	padding: 30px 0;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.qulification-sec .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.qulification-sec h2 {
	margin-bottom: 40px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.qulification-sec .box {
	display: flex;
	margin: 0 auto;
	position: relative;
}

.qulification-sec .box .line {
	width: 5px;
	min-height: 100%;
	background-color: #ffb218;
	margin-right: 100px;
	border-radius: 25px;
}

.qulification-sec .box .left-sec .edu-box {
	border: 3px solid #f51a1a;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
}

.qulification-sec .box .left-sec .edu-box::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #f51a1a;
	border-radius: 50%;
	left: -1%;
}

.qulification-sec .box .left-sec .edu-box h5 {
	font-size: 18px;
	color: #ffb218;
	font-weight: 600;
	line-height: 28px;
}

.qulification-sec .box .left-sec .edu-box h4 {
	font-size: 20px;
	color: #000;
	font-weight: 700;
	line-height: 30px;
}

.qulification-sec .box .left-sec .edu-box p {
	font-size: 18px;
	color: #353535;
	font-weight: 400;
	line-height: 28px;
}

.work-sec {
	width: 100%;
	padding: 30px 0px;
	background: linear-gradient(45deg, #fb4949, #ffb218);
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.work-sec h2 {
	margin-bottom: 40px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.work-sec .container {
	display: flex;
	flex-wrap: wrap;
}

.work-sec .card {
	padding: 20px;
	width: 500px;
	border-radius: 25px;
	border: 5px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
	margin-right: 30px;
	background-color: rgba(255, 255, 255, 0.3);
}

.work-sec .card h5 {
	font-size: 18px;
	color: #000;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 5px;
}

.work-sec .card h4 {
	font-size: 20px;
	color: #000;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 5px;
}

.work-sec .card h4 .red-text {
	font-size: 16px;
	color: #f51a1a;
	font-weight: 400;
	line-height: 26px;
}

.work-sec .card p {
	font-size: 18px;
	color: #353535;
	font-weight: 400;
	line-height: 26px;
}

.projects-sec {
	width: 100%;
	padding: 30px 0;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.projects-sec h2 {
	margin-bottom: 40px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.projects-sec .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.projects-sec .project-box {
	width: 300px;
	height: 200px;
	border: 5px solid rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin: 0 20px 20px 0;
	position: relative;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
	overflow: hidden;
	z-index: 3;
}

.projects-sec .project-box img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.projects-sec .project-box .hover-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.6);
	transform: translateX(-100%);
	transition: all ease-in-out 0.5s;
}

.projects-sec .project-box .hover-box h4 {
	font-size: 26px;
	color: #fff;
	font-weight: 700;
	line-height: 36px;
}

.projects-sec .project-box .hover-box a {
	font-size: 20px;
	color: #ffb218;
	font-weight: 700;
	line-height: 40px;
	text-decoration: none;
}

.projects-sec .project-box:hover .hover-box {
	transform: translateX(0%);
}

.contact-sec {
	width: 100%;
	padding: 50px 0;
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.contact-sec .form {
	width: 55%;
	padding: 30px 0;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 0 0 15px 10px #ffb218;
	text-align: center;
}

.contact-sec .form h2 {
	margin-bottom: 30px;
	font-size: 36px;
	color: #f51a1a;
	font-weight: 700;
	text-align: center;
}

.contact-sec .form .input-group {
	margin-bottom: 25px;
}

.contact-sec .form .input-group input {
	padding: 5px 0 5px 15px;
	height: 50px;
	width: 75%;
	outline: none;
	box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.3);
	border-radius: 15px;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	color: #969090;
	font-weight: 500;
	line-height: 34px;
	transition: all ease-in-out 0.3s;
}

.contact-sec .form .input-group:hover input,
.contact-sec .form .input-group input:focus,
.contact-sec .form textarea:hover,
.contact-sec .form textarea:focus {
	box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.6);
}

.contact-sec .form textarea {
	padding: 5px 0 5px 15px;
	width: 75%;
	outline: none;
	box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.3);
	border-radius: 15px;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	color: #969090;
	font-weight: 500;
	line-height: 34px;
	transition: all ease-in-out 0.3s;
	resize: none;
}

.contact-sec .form .submit-btn {
	padding: 14px 82px;
	font-size: 24px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	line-height: 38px;
	background-color: #ffb218;
	border-radius: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

.contact-sec .form .submit-btn:focus,
.contact-sec .form .submit-btn:hover {
	background-color: #db9200;
	box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.footer-sec {
	color: #fff;
	padding: 30px;
	text-align: center;
	width: 100%;
	background: linear-gradient(
		45deg,
		rgba(255, 20, 20, 0.8),
		rgba(255, 179, 26, 0.8)
	);
	box-shadow: 0 0px 15px 3px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	margin-bottom: 20px;
}

.footer-sec .logo {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0 0 10px 3px #f51a1a;
	background-color: #fff;
	margin-bottom: 15px;
}

.footer-sec .logo img {
	width: 100%;
	height: 100%;
}

.footer-sec h3 {
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 10px;
}

.footer-sec > p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 20px;
}

.footer-sec p .red-text {
	color: #ffb218;
	font-weight: 600;
	text-decoration: none;
}

.footer-sec .social {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-sec .social ul {
	margin-left: 15px;
	display: flex;
	align-items: center;
}

.footer-sec .social ul li {
	list-style: none;
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #ffb218;
	text-align: center;
	overflow: hidden;
}

.footer-sec .social ul li:hover a {
	background-color: #f51a1a;
	color: #fff;
}

.footer-sec .social ul li a {
	width: 45px;
	height: 45px;
	display: block;
	text-decoration: none;
	transition: all ease-in-out 0.3s;
}

.footer-sec .social ul li a i {
	font-size: 20px;
	line-height: 43px;
	font-weight: 600;
	color: #fff;
	transition: all ease-in-out 0.2s;
}

.footer-sec .social ul li:hover a i {
	color: #ffb218;
}
